<div>
  <button mat-stroked-button color="primary" (click)="scoreClick(0)">DOT</button>
  <button mat-stroked-button color="primary" (click)="scoreClick(1)">1</button>
  <button mat-stroked-button color="primary" (click)="scoreClick(2)">2</button>
  <button mat-stroked-button color="primary" (click)="scoreClick(3)">3</button>
  <button mat-stroked-button color="primary" (click)="scoreClick(4)">4</button>
  <button mat-stroked-button color="primary" (click)="scoreClick(5)">5</button>
  <button mat-stroked-button color="primary" (click)="scoreClick(6)">6</button>
</div>