<!-- <mat-radio-group [(ngModel)]="ballType">
  <mat-grid-list cols="3" rowHeight="50px" gutterSize="10px">
    <mat-grid-tile *ngFor="let bt of ballTypes">
      <mat-radio-button [value]="bt.value">
        {{ bt.name }}
      </mat-radio-button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-radio-group> -->

<mat-grid-list cols="3" rowHeight="50px" gutterSize="10px">
  <mat-grid-tile><button mat-stroked-button class="action-sheet-btn" color="primary" (click)="scoreClick(0)">DOT</button></mat-grid-tile>
  <mat-grid-tile><button mat-stroked-button class="action-sheet-btn" color="primary" (click)="scoreClick(1)">1</button></mat-grid-tile>
  <mat-grid-tile><button mat-stroked-button class="action-sheet-btn" color="primary" (click)="scoreClick(2)">2</button></mat-grid-tile>
  <mat-grid-tile><button mat-stroked-button class="action-sheet-btn" color="primary" (click)="scoreClick(3)">3</button></mat-grid-tile>
  <mat-grid-tile><button mat-stroked-button class="action-sheet-btn" color="primary" (click)="scoreClick(4)">4</button></mat-grid-tile>
  <mat-grid-tile><button mat-stroked-button class="action-sheet-btn" color="primary" (click)="scoreClick(5)">5</button></mat-grid-tile>
  <mat-grid-tile><button mat-stroked-button class="action-sheet-btn" color="primary" (click)="scoreClick(6)">6</button></mat-grid-tile>
  <!-- <mat-grid-tile><button mat-stroked-button class="action-sheet-btn" color="warn" (click)="scoreOut(0)">Out</button></mat-grid-tile> -->
</mat-grid-list>